body {
  font-family: Ariel;
  background: #f2f2f2;
  margin: 0;
}

header {
	background: navy;
	color: white;
	padding: 15px;
}

nav a {
	color: white;
	margin: 10px;
	text-decoration: none;
	
	
}

.hero {
	position: relative;
	text-align: center;

}

.hero-img {
	width: 100%;
	height: 400px;
	object-fit: cover;

}

.hero_text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.6);
	color: white;
	padding: 20px;
	border-radius: 10px;
}

.box {
	background: rgb(107, 214, 247);
	width: 60%;
	margin: 30px auto;
	padding: 25px;
	border-radius: 10px;
}

input, textarea {
	width: 100%;
	padding: 10px;
	margin-top: 10px;

}

.btn {
	display: inline-block;
	background: navy;
	color: white;
	padding: 10px 20px;
	border: none;
	margin-top: 15px;
	border-radius: 8px;
	cursor: pointer;
	

}

.card {
	background: white;
	width: 280px;
	display: inline-block;
	margin: 15px;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 4px 8px grey;
}

.pkg-img {
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.success {
	color: green;
	font-weight: bold;
}

.error {
	color: red;
	font-weight: bold;
}


.gallery-section {
	width: 90%;
	margin: 30px auto;
	text-align: center;
	gap: 20px;
}

.gallery-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 25px;
	margin-top: 25px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-item {
	width: 280px;
	
	background: white;
	border-radius: 12px;
	overflow:hidden;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	text-align: center;
}


.gallery-item h3 {
	padding: 10px;
}

.gallery-item img {
	width: 100%;
	height: 220px;
	object-fit: cover;
	display: block;
	border-bottom: 2px solid #eee;
}